@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
  font-family: poppins;
}

.lista-perguntas {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

#testes-select {
  margin-inline: auto;
  font-size: 16px;
  padding: 2px 20px;
  border-radius: 10px;
  outline: none;
  display: block;
  min-width: 300px;
  font-size: 20px;
  border: 2px solid #ccc;
  cursor: pointer;
}

#testes-select option {
  text-align: center;
  font-size: 16px;
}

.perguntas {
  margin-top: 20px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  gap: 20px;
  max-width: 900px;
  width: 100%;
}

.perguntas li {
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.perguntas li span {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.perguntas ul {
  list-style: none;
  padding: 0;
}

.teste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.perguntas li ul li {
  margin-top: 5px;
  font-size: 16px;
  padding: 4px;
}

.perguntas li ul li.resposta {
  font-weight: bold;
  color: green;
}

#submit-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;

  transition: all 0.3s ease-in-out;
}

#submit-button:hover {
  background-color: #3e8e41;
}